Technical-Test/.vs/ProjectEvaluation
Technical-Test/.vs/Technical-Test/CopilotIndices
Technical-Test/.vs/Technical-Test/DesignTimeBuild
Technical-Test/.vs/Technical-Test/FileContentIndex
Technical-Test/.vs/Technical-Test/v17
Technical-Test.Domain/bin
Technical-Test.Domain/obj
Technical-Test.Infrastructure/Technical-Test.Infrastructure.Repositories/bin
Technical-Test.Infrastructure/Technical-Test.Infrastructure.Repositories/obj/Release
Technical-Test.Application/Technical-Test.Application/bin
Technical-Test.Application/Technical-Test.Application/obj
Technical-Test.Common/Technical-Test.Common/bin
Technical-Test.Common/Technical-Test.Common/obj
Technical-Test.Infrastructure/Technical-Test.Infrastructure.Repositories/obj
Technical-Test.Tests/.vs
Technical-Test.Tests/Domain.Tests/obj
Technical-Test.Tests/Common.Tests/obj
Technical-Test.Tests/Application.Tests/obj
Technical-Test.Tests/Application.Tests/bin
Technical-Test/.vs
