@page "/"

<PageTitle>Home</PageTitle>

<h1>Robin Walsby CMAP Technical Test</h1>

<div>Based on Clean Architecture (Application/Infrastructure/Domain), Application Feature Structure (Users/Timesheets), MediatR handlers, Value object and DTO entity data model patterns. </div>
<div>Unit testing at Common, Domain and Application (via mocked repository and created data repository).</div>

